# Python
.venv/
__pycache__/
*.py[cod]
*.db
data/
*.jsonl
exports/
*.csv

# Secrets
.env

# Reflex build/cache
.web/
.states/

# Assets auto
assets/external/
.vscode/
.venv_st/
.venv_st_bkp_python_ref
